#loginForm .login-form-button {
	width: 100%;
}
.error {
	min-height: 2rem;
	line-height: 2rem;
	color: darkred;
}

.icons-list {
	display: flex;
	justify-content: center;
}
.icons-list >>> .anticon {
	font-size: 2rem;
}
.icons-list > * {
	margin-right: 16px;	
	line-height: 2rem;
	vertical-align: middle;	
}
.additional-links {
	display: flex;
	justify-content: space-between;
}

.anticon-linkedin {
	color: #007bb5
}
.anticon-google {
	color: #ea4335;
}